p, h2, .title, .index, a {
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
    color: #000;
    line-height: normal;
}

.title {
    margin-top: 10%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#homePage img {
    width: 500px;
}

.flip-card {
    width: 500px;
    height: 323px;
    margin: 100px auto;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

#homePage {
    text-align: center;
}

.info {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.info p {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 400px;
}

.info a {
    text-decoration: none;
    color: #4c5a74;
}

#homePage a {
    padding-top: 10px;
    font-size: 70px;
    font-weight: 700;
}

#indexPage, #homePage {
    background: url(palette.svg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#indexPage {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.index {
    display: grid;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

#indexPage .index a {
    font-size: 50px;
    font-weight: 700;
}

#more .index {
    float: right;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 91.5%;
    margin-top: -5px;
    margin-bottom: -1px;
}

#skillsPage .index {
    background-color: #809BCE;
}

#academicPage .index {
    background-color: #95B8D1;
}

#workPage .index {
    background-color: #B8E0D2;
}

#languagePage .index {
    background-color: #D6EADF;
}

.bottomPalette {
    rotate: 180deg;
}

.bottomPalette, .topPalette {
    width: 100%;
}



